.env
.minetrc
.bash_profile

*.csv
*.json
*.jsonl
*.gexf

.ipynb_checkpoints/
*.ipynb

.idea

__pycache__

.DS_Store

*.gz
*.aux
*.toc
*.log
*.out
*.blg
*.bbl

*.tex
*.pdf

*.mod

!data/country_codes_wikipedia.csv
code/collect_bz_eiorg.sh
code/collect_bz_reseauinter.sh
